body {
    background-color: rgb(82, 82, 241);
    font-family: sans-serif;
}
h1 {
    color: white;
    margin: center;
}

input {
    background-color:  rgb(82, 82, 241);
    color: white;
    border: solid white 3px;
    border-radius: 20px;
    font-family: fantasy;
    padding: 10px;
    font-size: 20px;
    
}

div{
    display: block;
    background-color:blueviolet;
    border: solid 5px white;
    position: relative;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    background-color:rgb(#c8a2c8);
    
}